.path-mod-randomactivity tr:not(.dragged) .removebutton:hover {
    color: red;
}

.path-mod-randomactivity tr.dragged {
    opacity: .65;
    z-index: 500;
}

.path-mod-randomactivity .activitytable .group-assignee {
    cursor: default;
}

.path-mod-randomactivity .group-panel label {
    display: none;
}

.path-mod-randomactivity #apply-assign-button {
    background-color: red;
}

.path-mod-randomactivity #apply-assign-button:disabled {
    opacity: .50;
}

.path-mod-randomactivity #form-seed .load-icon {
    position: absolute;
    top: .5em;
    right: 4em;
    z-index: 100;
}

.path-mod-randomactivity .popup-dialog {
    z-index: 1100;
    box-shadow: 4px 3px 4px lightblue;
    border: 1px solid gray;
    min-width: max-content;
}

.path-mod-randomactivity .popup-dialog .ui-dialog-buttonpane {
    text-align: right;
}

.path-mod-randomactivity .popup-dialog .ui-dialog-titlebar-close {
    display: none;
}

.path-mod-randomactivity .ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #aaa;
    opacity: 0.3;
}

.path-mod-randomactivity #activities-choice,
.path-mod-randomactivity #confirm-reassign {
    display: none;
}

.path-mod-randomactivity #activities-choice {
    max-width: 40vw;
}

.path-mod-randomactivity .activity .activityicon {
    margin-right: 6px; /* Moodle 4.0+ */
}

.path-mod-randomactivity .activity-to-add {
    display: flex;
}

.path-mod-randomactivity .activity-to-add .table-responsive {
    display: none; /* Moodle 4.0+ adds a .table-responsive wrapper to our hidden table */
}

.path-mod-randomactivity .activities-to-add-list .section {
    cursor: default;
}

.path-mod-randomactivity .activities-to-add-list .section .dropdown-icon .icon {
    margin-right: 0;
}

.path-mod-randomactivity .activities-to-add-list .section.expanded .dropdown-icon.collapsed,
.path-mod-randomactivity .activities-to-add-list .section:not(.expanded) .dropdown-icon.expanded,
.path-mod-randomactivity .activities-to-add-list .section:not(.expanded) .toggle-all {
    display: none;
}

.path-mod-randomactivity .activity-type-selector,
.path-mod-randomactivity .activity-type-dropdown {
    border: 1px solid lightgrey;
    background-color: white;
    cursor: pointer;
    z-index: 550;
    width: max-content;
    margin-right: 6px;
}

.path-mod-randomactivity .activity-type-selector.expanded,
.path-mod-randomactivity .activity-type-dropdown {
    box-shadow: 1px 2px 2px gray;
}

.path-mod-randomactivity .activity-type-dropdown {
    position: absolute;
    margin-top: -2px;
    border-top: none;
}

.path-mod-randomactivity .activity-type-selector.collapsed + .activity-type-dropdown {
    display: none;
}

.path-mod-randomactivity .activity-type-selector ::selection,
.path-mod-randomactivity .activity-type-dropdown ::selection {
    color: inherit;
    background-color: inherit;
}

.path-mod-randomactivity .activity-type-selected {
    height: 2.3em;
}

.path-mod-randomactivity .activity-type-selector i {
    margin-right: 3px;
    float: right;
    position: relative;
    top: .5em;
}

.path-mod-randomactivity .activity-type,
.path-mod-randomactivity .activity-type-selected {
    padding: 3px 3px 3px 6px;
}

.path-mod-randomactivity .activity-type:hover {
    background-color: var(--primary);
    color: white;
}

.path-mod-randomactivity .search-icon,
.path-mod-randomactivity .search-remove {
    color: lightgrey;
    margin-left: -1.7em;
}

.path-mod-randomactivity .search-icon {
    cursor: text;
}

.path-mod-randomactivity #activity-search.empty ~ .search-remove,
.path-mod-randomactivity #activity-search:not(.empty) ~ .search-icon {
    display: none;
}

.path-mod-randomactivity .activities-to-add-list,
.path-mod-randomactivity .activity-type-dropdown {
    max-height: 40vh;
    overflow-y: auto;
}
