{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_randomactivity/activitiesform

    Classes required for JS:
    * load-icon

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * id Course module ID.
    * sesskey Current session key.
    * group Currently selected group (0 for all groups).
    * activities Space-separated list of course module IDs of current activities pool.
    * seed Current seed.
    * seedhelpbutton HTML fragment containing help button for seed.
    * editmode Whether editing is turned on for the activities form.

    Example context (json):
    {
        "id": "2",
        "sesskey": "0000000",
        "group": "0",
        "activities": "6 8 19",
        "seed": "0",
        "seedhelpbutton": "<a class=\"btn btn-link p-0\"><i class=\"icon fa fa-question-circle text-info fa-fw\"></i></a>",
        "editmode": true
    }
}}
<form id="form-randomactivity-activities" class="form-inline float-right" method="post">
    <input name="id" type="hidden" value="{{id}}">
    <input name="sesskey" type="hidden" value="{{sesskey}}">
    <input name="group" type="hidden" value="{{group}}">
    <input name="activities" type="hidden" value="{{activities}}">
    <div id="form-seed" class="position-relative">
        {{# str}} seed, mod_randomactivity {{/ str}}{{{seedhelpbutton}}}
        <input name="seed" class="form-control" type="text" size="15" value="{{seed}}" autocomplete="off" {{^ editmode}}disabled="disabled"{{/ editmode}}>
        {{# editmode}}
        <span class="load-icon" style="display:none;">{{# pix}} loading, mod_randomactivity {{/ pix}}</span>
        <div class="text-right">
            <a id="seed-timestamp" href="#">{{# str}} seedtotimestamp, mod_randomactivity {{/ str}}</a>
            <br>
            <a id="seed-balance" href="#">{{# str}} seedtobalance, mod_randomactivity {{/ str}}</a>
        </div>
        {{/ editmode}}
    </div>
</form>