{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_randomactivity/addactivities

    Classes required for JS:
    * activity
    * activityicon
    * activities-to-add-list
    * activity-to-add
    * activity-type
    * activity-type-dropdown
    * activity-type-selected
    * activity-type-selector
    * collapsed
    * expanded
    * search-icon
    * search-remove
    * section
    * section-header
    * toggle-all

    Data attributes required for JS:
    * data-action
    * data-cmid
    * data-cmtype

    Context variables required for this template:
    * moduletypes Activity modules types list.
        * name Activity module type short name.
        * icon Activity module type icon.
        * fullname Activity module type full name.
    * allsections All current course sections containing at least one compatible activity.
        * name Section name.
        * activities All compatible activity modules in the section.
            * cmid Course module ID.
            * modname Activity module type short name.
            * activity Activity displayable name. Can include icon.
            * hiddentable HTML table containing the row for this activity, to be added to the main activities pool table.

    Example context (json):
    {
        "moduletypes": [
            {
                "icon": "http:\/\/localhost\/theme\/image.php\/boost\/assign\/1617710167\/icon",
                "fullname": "Assignment",
                "name": "assign"
            }
        ],
        "allsections": [
            {
                "name": "Topic 1",
                "activities": [
                    {
                        "cmid": "7",
                        "modname": "assign",
                        "activity": "<span class=\"activity\"><img class=\"activityicon\" alt=\"\" src=\"http:\/\/localhost\/theme\/image.php\/boost\/quiz\/1617710167\/icon\"/>Exercise 1</span>",
                        "hiddentable": ""
                    }
                ]
            }
        ]
    }
}}
<div id="activities-choice" class="py-3">
    <div>{{# str}} filters, mod_randomactivity {{/ str}}</div>
    <div class="mb-2 pb-1">
        <div class="activity-type-selector d-inline-block collapsed">
            <div class="activity-type-selected align-middle d-inline-block"><span class="align-middle"></span></div>
            {{# pix}} dropdown, mod_randomactivity {{/ pix}}
        </div>
        <div class="activity-type-dropdown">
            <div class="activity-type" data-cmtype="">{{# str}} all {{/ str}}</div>
            {{# moduletypes}}
            <div class="activity-type" data-cmtype="{{name}}">
                <img class="activityicon" src="{{icon}}" title="{{fullname}}">
            </div>
            {{/ moduletypes}}
        </div>
        <form class="form-inline d-inline-block" action="javascript:void(0);">
            <input id="activity-search" class="form-control" type="text" autocomplete="off"/>{{!
            }}<span class="search-icon align-middle">{{# pix}} search, mod_randomactivity {{/ pix}}</span>{{!
            }}<span class="search-remove clickable align-middle">{{# pix}} remove, mod_randomactivity {{/ pix}}</span>
        </form>
    </div>
    <div class="activities-to-add-list border-top pt-1">
        {{# allsections}}
        <div class="section expanded">
            <div class="section-header">
                <span class="dropdown-icon expanded">{{# pix}} dropdown, mod_randomactivity {{/ pix}}</span>
                <span class="dropdown-icon collapsed">{{# pix}} dropdowncollapsed, mod_randomactivity {{/ pix}}</span>
                {{{name}}}
                <span class="toggle-all" data-action="select">(<span class="btn-link">{{# str}} selectall {{/ str}}</span>)</span>
                <span class="toggle-all" data-action="deselect">(<span class="btn-link">{{# str}} deselectall {{/ str}}</span>)</span>
            </div>
            {{# activities}}
            <div class="activity-to-add align-items-baseline" data-cmid="{{cmid}}" data-cmtype="{{modname}}">
                <input type="checkbox" id="cm{{cmid}}" class="mr-2"/>
                <label for="cm{{cmid}}" class="text-truncate">{{{activity}}}</label>
                {{{hiddentable}}}
            </div>
            {{/ activities}}
        </div>
        {{/ allsections}}
    </div>
    <span id="no-activity-to-add-message">{{# str}} noactivitytoadd, mod_randomactivity {{/ str}}</span>
</div>
<div id="confirm-reassign">{{# str}} confirmreassign, mod_randomactivity {{/ str}}</div>