{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_randomactivity/navigationbuttons

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * id Course module ID.
    * group Currently selected group (0 for all groups).
    * editmode Whether editing is turned on for the activities form.
    * allowedit Whether editing can be turned on for the activities form.

    Example context (json):
    {
        "id": "2",
        "group": "0",
        "editmode": true,
        "allowedit": true
    }
}}
{{# editmode}}
<button id="add-activities" class="btn btn-secondary mb-3">
    {{# pix}} add, mod_randomactivity {{/ pix}}{{# str}} addactivities, mod_randomactivity {{/ str}}
</button>
<div>
<button id="apply-assign-button" class="btn text-white">
    {{# pix}} reassign, mod_randomactivity {{/ pix}}{{# str}} applychangesreassign, mod_randomactivity {{/ str}}
</button>{{!
}}<a id="cancel-button" class="btn btn-secondary ml-2" href="?id={{id}}{{# group}}&group={{group}}{{/ group}}">
    {{# str}} cancel {{/ str}}
</a>
</div>
{{/ editmode}}
{{# allowedit}}
<a class="btn btn-secondary" href="?id={{id}}&edit=1{{# group}}&group={{group}}{{/ group}}">
    {{# pix}} edit, mod_randomactivity {{/ pix}}{{# str}} edit {{/ str}}
</a>
{{/ allowedit}}